
.DS_Store
Blocks/Blocks.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Blocks/Blocks.xcodeproj/project.xcworkspace/xcuserdata/pc010055.xcuserdatad/UserInterfaceState.xcuserstate
Blocks/Blocks.xcodeproj/xcuserdata/pc010055.xcuserdatad/xcschemes/xcschememanagement.plist
